@use "../../styles/colors"

.container
  position: relative
  margin: 0 3rem
  img
    width: auto
    height: 500px
    object-fit: cover
    border-radius: 2rem

.title
  position: absolute
  top: -3rem
  right: -1rem
  font-family: "Sydney Regular"
  font-size: 3rem
  letter-spacing: 0.5rem
  @media (max-width: 600px)
    top: 3rem
    right: 40%
