@use 'styles/colors'

.planSection
  padding: 5rem 2rem
  display: flex
  justify-content: center
  align-items: center
  @media (max-width: 600px)
    flex-direction: column

.container
  transition: background-color 0.5s

.headerBg
  background-color: colors.$light

.rsvpBg
  background-color: colors.$primary-accent

.timelineBg
  background-color: lighten(colors.$secondary-accent, 10%)

.travelBg
  background-color: darken(colors.$primary-accent, 10%)

.faqBg
  background-color: darken(colors.$light, 20%)

.registryBg
  background-color: darken(colors.$light, 10%)
