@use "../../styles/colors"

.container
  position: relative
  padding: 5rem 3rem
  img
    width: 100%
    height: 400px
    object-fit: cover
    object-position: center 20%
    border-radius: 2rem

.imgContainer
  position: relative

.title
  position: absolute
  bottom: -5rem
  right: 25%
  font-family: "Sydney Regular"
  font-size: 3rem
  padding: 0 0.4rem
  letter-spacing: 1rem

.content
  margin: 6rem 0 2rem
  .questions
    columns: 3

    @media (max-width: 600px)
      columns: 2

    @media (max-width: 400px)
      columns: 1

    .question
      break-inside: avoid
      margin-bottom: 0.5rem
    h2
      margin: 0
      letter-spacing: 0.1rem
    span
      margin: 0.2rem 0 1rem

.link
  color: white
  position: relative
  text-decoration: none
  font-style: italic
  display: inline-block
  padding: 0 1px
  transition: color ease 0.3s

  &::before,
  &::after
    content: ''
    position: absolute
    background-color: white
    z-index: 1
    height: 5%

  &::before
    width: 0%
    left: 0
    bottom: 0
    transition: width ease 0.4s

  &::after
    width: 100%
    left: 0
    bottom: 0
    transition: all ease 0.6s

  &:hover
    &::before
      width: 100%

    &::after
      left: 100%
      width: 0%
      transition: all ease 0.2s
