@use "../../styles/colors"

.container
  padding: 5rem 3rem
  display: flex
  flex-direction: column
  align-content: center
  justify-content: center

.travelWrapper
  display: flex
  align-content: center
  justify-content: center
  position: relative
  @media (max-width: 600px)
    flex-direction: column
  img
    width: 300px
    height: 100%
    object-fit: cover
    border-radius: 2rem

.imgContainer
  position: relative
  margin: 0rem 4rem

  @media (max-width: 600px)
    margin: 0

.title
  position: absolute
  top: -4rem
  right: -3rem
  font-family: "Sydney Regular"
  font-size: 3rem
  letter-spacing: 1rem

  @media (max-width: 600px)
    right: 20%
    top: 3rem

.tContent
  margin: 5rem 2rem 5rem 0
  display: flex
  flex-direction: column

  h1, h2, h3
    margin: 0

  h1
    letter-spacing: 0.2rem

  .special
    font-family: "Sydney Regular"
    margin: 0 0.5rem
    letter-spacing: 0.3rem

.lContent
  display: flex
  flex-direction: column

  .subtitle
    letter-spacing: 0.1rem
    text-align: center

  .details
    text-align: center
    margin-top: 1rem

  @media (max-width: 600px)
    margin: 0

    .subtitle, .details
      text-align: left

.hotelWrapper
  display: flex
  justify-content: center
  @media (max-width: 600px)
    text-align: left
    flex-direction: column

.specialLink
  position: relative
  overflow: hidden
  text-decoration: none
  color: white
  &:after
    content: ""
    background: rgba(white, 0.25)
    position: absolute
    left: 12px
    bottom: -6px
    width: calc(100% - 8px)
    height: calc(100% - 8px)
    z-index: 1
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05)
  &:hover
    &:after
      left: 0
      bottom: -2px
      width: 100%
      height: 100%

.lodgingContainer
  h2
    font-weight: 400
  display: flex
  margin: 0 2rem
  flex-direction: column
  @media (max-width: 600px)
    margin: 0
