@use "../../styles/colors"

.container
  margin: 8rem 0
  display: flex
  justify-content: center
  img
    width: 400px
    height: 500px
    object-fit: cover
    border-radius: 2rem

.peepo
  position: absolute
  top: 2rem
  left: 70%
  font-family: "Sydney Regular"
  font-size: 3rem
  .beth
    position: absolute
    top: 5rem
    right: 0
  .and
    position: absolute
    top: 9rem
    right: 0
  .james
    position: absolute
    top: 13rem
    left: 0

.party
  position: absolute
  top: 77%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  .celebrate
    font-size: 2rem
    letter-spacing: 1rem
  .date
    font-size: 3rem
    letter-spacing: 0.5rem
    font-family: "Sydney Regular"
